<div>
  <h3>Editar Loja</h3>
</div>
<div class="example-container mat-elevation-z8">
  <mat-card class="example-card">
    <form class="example-container" [formGroup]="productForm" (ngSubmit)="updateLoja(productForm.value)">
      <mat-form-field style="width: 40%; margin-right: 2.5%;">
        <input matInput name="nome" placeholder="Nome da Loja" formControlName="nome">
      </mat-form-field>

      
      <button class="btn-green" mat-raised-button type="submit" [disabled]="!productForm.valid" mat-button color="primary"><mat-icon>save</mat-icon> Editar</button>
      <span class="erro-msg">{{updateLojaErroForm}}</span>
    </form>
  </mat-card>
</div>
