<div>
  <h3>Editar Produto</h3>
</div>
<form class="example-container" [formGroup]="productForm" (ngSubmit)="updateProduto(productForm.value)">
  <mat-form-field>
    <input matInput name="nome" placeholder="Nome do Produto" formControlName="nome">
  </mat-form-field>
  <mat-form-field>
    <input  matInput name="unidade" placeholder="Unidade do Produto" formControlName="unidade">
  </mat-form-field>

  <span>{{updateProdutoErroForm}}</span>

  <button type="submit" [disabled]="!productForm.valid" mat-button color="primary" >Editar</button>
</form>