<div>
  <h3 class="title-with-btn">Visualizar de Produto</h3>
  <button style="float: right;" mat-flat-button color="primary" [routerLink]="['/produto']"><mat-icon>undo</mat-icon> Produtos</button>
</div>

<div class="example-container mat-elevation-z8">
    <div class="container container-show">  
      <div class="row">
        <div class="col-md-4">
          <p>Nome do Produto:<br>{{produto.nome}}</p>
        </div>
        <div class="col-md-4">
          <p>Unidade do Produto:<br>{{produto.unidade}}</p>
        </div>
        <div class="col-md-2">
            <button mat-flat-button color="primary" class="teste" [routerLink]="['/produto-update', produto.id]"><mat-icon>edit</mat-icon> Editar</button>
        </div>
        <div class="col-md-2">
            <button mat-flat-button color="warn" (click)="deleteProduto(produto.id)"><mat-icon>delete</mat-icon> Excluir</button>
        </div>
      </div>
      <span class="erro-msg">{{deleteProdutoErroForm}}</span>
    </div>
</div>